.nav-menu {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
}

.menu {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;

  & .item {
    background-color: var(--bg-secondary);
    color: var(--text-primary);

    &.horizonatal {
      & svg {
        transform: rotate(90deg);
        transition: transform 250ms ease-in-out;
      }
    }

    &:hover {
      background-color: var(--button-primary-bg);
      color: var(--bg-secondary);

      & > .item-content > svg {
        transform: rotate(-90deg);
      }
    }

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }

  & > .item {
    padding: 0.25rem 1rem;
    cursor: pointer;
    border: 1px solid var(--border-primary);
    border-radius: 5px;
    width: max-content;
    position: relative;

    &:hover {
      background-color: var(--button-primary-bg);
      color: var(--bg-secondary);

      & > ul.menu-dropdown {
        opacity: 1;
        visibility: visible;
        top: 100%;
        transition: 0.3s;
        pointer-events: auto;
      }
    }

    & > ul.menu-dropdown {
      position: absolute;
      z-index: 1000;
      top: 80%;
      margin: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: 0.3s;
      pointer-events: none;
      width: max-content;

      &::before {
        content: "";
        display: block;
        position: absolute;
        height: 10px;
        width: 100%;
        top: 0;
      }

      & .item {
        padding: 4px 1rem;
        cursor: pointer;
        border: 1px solid var(--border-primary);
        border-radius: 5px;
        position: relative;

        &.vertical > .item-content > svg {
          transform: rotate(0deg);
          transition: transform 250ms ease-in-out;
        }

        &:hover {
          & > .menu-dropdown {
            opacity: 1;
            visibility: visible;
            left: 100%;
            transition: 0.3s;
            pointer-events: auto;
          }

          & > .item-content svg {
            transform: rotate(-180deg);
          }
        }

        & ul.menu-dropdown {
          position: absolute;
          z-index: 1000;
          pointer-events: none;
          top: 0;
          left: 150%;
          opacity: 0;
          visibility: hidden;
          transition: 0.3s;
          width: max-content;
        }
      }
    }
  }
}
