.nav-menu {
  padding: 1rem 0;
  display: flex;
  position: relative;
  z-index: 1;
}

.menu {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  background: transparent;
}

.item {
  position: relative;
  padding: 0.5rem 1rem;
  background-color: var(--bg-primary);
  color: var(--text-primary);
  width: max-content;
  cursor: pointer;
  transition: all 0.3s ease;

  &.horizonatal {
    & svg {
      transform: rotate(90deg);
      transition: transform 250ms ease-in-out;
    }
  }

  &:hover {
    background: linear-gradient(135deg, var(--button-primary-bg), var(--button-secondary-color));
    color: var(--text-white);
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.2);

    & > .item-content > svg {
      transform: rotate(-90deg);
    }

    & > .menu-dropdown {
      opacity: 1;
      visibility: visible;
      transform: translateY(0);
      pointer-events: auto;

      & > .item {
        display: block;
      }
    }
  }

  .item-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &:hover::after {
      width: 100%;
    }
  }
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  width: max-content;
  transform: translateY(-20px);
  pointer-events: none;
  transition: all 0.3s ease;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  z-index: 20;

  .item {
    padding: 0.5rem 1rem;
    transform: rotateY(-90deg);
    opacity: 0;
    display: none;
    animation: topToBottom 0.4s ease forwards;
    animation-delay: calc(var(--item-index, 0) * 0.1s);
    transform-origin: top center;
    width: 100%;

    &.vertical > .item-content > svg {
      transform: rotate(0deg);
      transition: transform 250ms ease-in-out;
    }

    &:hover {
      & > .item-content svg {
        transform: rotate(-180deg) !important;
      }

      & > .menu-dropdown {
        perspective: 1000px;
        opacity: 1;
        visibility: visible;
        transform: translateX(0);
        pointer-events: auto;
      }
    }
  }
}

.menu-dropdown .menu-dropdown {
  position: absolute;
  top: 0;
  left: 100%;
  transform: translateX(-10px);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition:
    opacity 0.3s ease,
    transform 0.3s ease;
  z-index: 20;
}

@keyframes topToBottom {
  0% {
    opacity: 0;
    transform: rotateX(-90deg) translateX(-20px);
  }
  100% {
    opacity: 1;
    transform: rotateX(0deg) translateX(0);
  }
}
