@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./variables";
@import "./utility";

body {
  font-feature-settings: normal;
  -moz-osx-font-smoothing: grayscale !important;
  -webkit-font-smoothing: subpixel-antialiased !important;
  overflow-x: hidden;
}
